.login {
  text-align: center;
  justify-content: center;
  margin: auto;
  font-family: SegoeUI;
}

.bold {
  font-family: SegoeUIBold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.register {
  padding-top: 10px;
  display: block;
  color: rgb(0, 123, 255);
}
