.preferences {
  text-align: center;
  justify-content: center;
  margin: auto;
  font-family: SegoeUI;
  display: block;
}

.bold {
  font-family: SegoeUIBold;
}

.singleLine {
  display: block;
}

.spacing {
  padding: 5px;
  display: block;
  margin: auto;
}
