.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.body {
  text-align: center;
}

h3 {
  font-family: SegoeUISemiBold;
}

h4 {
  font-family: SegoeUI;
}

h5 {
  font-family: SegoeUI;
}

.leftAlign {
  list-style-position: inside;
  text-align: left;
  list-style: inside;
  display: inline-block;
  font-family: SegoeUISemiBold;
}

.centerContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
